.content {
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    margin: 0 100px 50px 100px;
    background-color: #F6F6F6;
    padding: 55px;
    gap: 55px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

@media (max-width: 1439px){
    .content {
        gap: 30px;
    }
}
@media (max-width: 1023px) {
    .content {
        padding: 0;
        gap: 22px;
        background-color: white;
        margin: 0 20px 22px 20px;
    }
}
@media (max-width: 767px) {
    .content {
        margin: 0 20px 22px 20px;
    }
}